{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">{{ text_on_page }}</p>
    </div>
    <h2 class="mt-5 pt-5 " style="color: White"><strong>Наша продукция</strong></h2>
    <div class="slideshow">
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/assorted.jpeg" %}" alt="">
            <div class="slideshow-item-text">
                <h5>{{ title_image_text }}</h5>
                <p>{{ title_image_description }}</p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/casserole.jpg" %}" alt="">
        </div>
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/plush.jpg" %}" alt="">
        </div>
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/waffles.jpg" %}" alt="">
        </div>
    </div>

    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>Наша замечательная команда</strong></h2>
        <img src="{% static 'deps/images/портф.png' %}"
        alt="Аватар пользователя" class="img-fluid rounded-circle"
        style="max-width: 150px;">
        <img src="{% static 'deps/images/lead.png' %}"
        alt="Аватар пользователя" class="img-fluid rounded-circle"
        style="max-width: 150px;">
        <img src="{% static 'deps/images/prod.png' %}"
        alt="Аватар пользователя" class="img-fluid rounded-circle"
        style="max-width: 150px;">
        <pre>  Backend Developer   Frontend Developer   Product Manager
        <br> Денис DsPeacemaker   Денис DsPeacemaker   Денис DsPeacemaker
        </pre>
    </div>
{% endblock %}

{% block footer %}
        <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; <a href="https://github.com/DsPeacemaker">DsPeacemaker</a></p>
        </div>
    </footer>
{% endblock %}