{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">{{ text_on_page }}</p>
        <p class="m-2">Мы доставляем нашу продукцию по городу Краснодару собственной службой доставки <br>
            И так же сотрудничаем с профильными службами доставки. Если товар есть в наличии доставка займет не больше 30 минут
            для ЧМР, КМР, Центрального микрорайонов, для остальных от 1 часа.
    </p>
    </div>
{% endblock %}

{% block footer %}
        <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; <a href="https://github.com/DsPeacemaker">DsPeacemaker</a></p>
        </div>
    </footer>
{% endblock %}