{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <h1 class="mt-5 pt-5 "><strong>{{ content }}</strong></h1>
    <h2 class="mt-5 pt-5" style="color:White"><strong>Наша продукция</strong></h2>
    <div class="slideshow">
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/pie.jpg" %}" alt="">
        </div>
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/maffins.jpg" %}" alt="">
        </div>
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/kruasson.jpg" %}" alt="">
        </div>
        <div class="slideshow-item">
            <img src="{% static "deps/images/goods/assorted.jpeg" %}" alt="">
        </div>
    </div>

    <h1 class="mt-5 pt-5 "><strong>Блок популярных товаров</strong></h1>
    <h1 class="mt-5 pt-5 "><strong>Блок рекомендаций для авторизованных пользователей</strong></h1>
    <h1 class="mt-5 pt-5 "><strong>Блок отзывов покупателей if их > 5 и отзыв 5 звезд</strong></h1>
{% endblock %}

{% block footer %}
        <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; DsPeacemaker</p>
        </div>
    </footer>
{% endblock %}

